
body { background-color:  rgb(143, 4, 4);
   font-family:blue 'Times New Roman', Times, serif;
   }
.header {font-size: 15px; text-align: center;}
.my-phot { border-radius: 30px; width:20em;height: 25em; border: 2px solid greenyellow;}
.header-2{color: rgb(184, 10, 146); font-size: 18px;}
main {text-align: center; border: 1px solid darkgray; }
.section  ol {
    list-style: none;
  }
 .quote { color: brown;}
  .separator {width: 50%; height: 3px; background-color: aqua;}
  .video { width: 50rem; min-height: 15rem ; border-radius: 10px;border: none;text-align: center;
  width: 100%;
 }

  .hobbies ol {list-style: none;}
  .table { border-collapse: separate; width: 100%;} 
 .table th,
 .table td { border: 1px solid  rgb(164, 218, 16);  ; border-radius: 5px;  color: rgb(218, 36, 148);
 }
.education { margin: 0 auto;}
 .interaction { border: solid;  }
 .form {width: 600px;margin: 0 auto;}
 .form input{ width: 100%;}
 .button {display: block; margin: 0 auto;  }
 footer {text-align: center; background-color: black;}
 .nomer {text-decoration: none; color: antiquewhite; background-color: black; }
 .quote {color: blueviolet;font-size: 50px; }
 h5 { font-size: 25px;color: rgb(218, 193, 201);}

  
